{% extends 'cms/base.html' %}
{% load filter%}

{% block title %}新闻列表{% endblock %}

{% block content-header %}
    <h1>新闻列表管理</h1>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <style>
        .left-group{
            margin-right: 20px;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'adminlte/bower_components/bootstrap-datepicker/bootstrap-datepicker_1.8.0_locales_bootstrap-datepicker.zh-CN.min.js'%}"></script>
    <script src="{% static 'js/news_list.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="clo-md-12">
            <div class="box">
                <div class="box-header">
                    <form action="" method="get" class="form-inline">
                        <div class="form-group left-group">
                            <label for="start">时间：</label>
                            <input type="text" id="start-picker" {% if start %}
                               value="{{ start }}"
                            {% endif %} class="form-control" name="start" placeholder="起始时间" readonly="readonly" id="start">
                            <pan>--</pan>
                            <input type="text" id="end-picker"{% if end %}
                                value="{{ end }}"
                            {% endif %}  class="form-control" name="end" placeholder="结束时间" readonly="readonly" id="end">
                        </div>

                        <div class="form-group left-group">
                            <label for="title-input">标题：</label>
                            <input type="text" {% if title %}
                            value="{{ title }}"
                            {% endif %} class="form-control" name="title" id="title-input" placeholder="关键字">
                        </div>
                        <div class="form-group left-group">
                            <label for="category-input">分类</label>
                            <select name="category" id="category-input" class="form-control">
                                <option value="0">所有分类</option>
                                {% for category in categories %}

                                    <option value="{{ category.pk }}" {% if category_id == category.pk %}
                                            selected
                                    {% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group left-group">
                            <button class="btn btn-primary">查询</button>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'cms:news_list'%}">清除查询</a>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>分类</th>
                            <th>发布时间</th>
                            <th>作者</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for news in newses%}
                            <tr>
                                <td><a href="{% url 'news:news_detail' news_id=news.pk%}">{{ news.title }}</a></td>
                                <td>{{ news.category.name }}</td>
                                <td>{{ news.pub_time | time_format}}</td>
                                <td>{{ news.author.username }}</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-xs">编辑</a>
                                    <button class="btn btn-danger btn-xs">删除</button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <p class="pull-left">第{{ current_page }}页/共{{ num_pages }}页</p>
                    <ul class="pagination pull-right">
                        {#             上一页#}
                        {% if page_obj.has_previous %}
                            <li><a href="?p={{ page_obj.previous_page_number }}{{ url_query }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0);">上一页</a></li>
                        {% endif %}

                        {% if left_has_more %}
                            <li><a href="{% url 'front:article_list' %}?p=1">1</a></li>
                            <li><a href="javascript:void(0);">...</a></li>
                        {% endif %}

                        {# 左边的页码 #}
                        {% for left_page in left_pages %}
                            <li><a href="?p={{ left_page }}{{ url_query }}">{{ left_page }}</a></li>
                        {% endfor %}

                        {# 当前的页面 #}
                        <li class="active"><a
                                href="?p={{ current_page }}{{ url_query }}">{{ current_page }}</a></li>

                        {# 右边的页码 #}
                        {% for right_page in right_pages %}
                            <li><a href="?p={{ right_page }}{{ url_query }}">{{ right_page }}</a></li>
                        {% endfor %}

                        {% if right_has_more %}
                            <li><a href="javascript:void(0);">...</a></li>
                            <li><a href="?p={{ num_pages }}{{ url_query }}">{{ num_pages }}</a></li>
                        {% endif %}

                        {#             下一页#}
                        {% if page_obj.has_next %}
                            <li><a href="?p={{ page_obj.next_page_number }}{{ url_query }}">下一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="javascript:void(0);">下一页</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}